@use "../abstracts/" as *;
.about {
  background: linear-gradient(to right, $green-50 25%, $white 50%);
  padding: 8rem 0;
  &__large {
    width: 30rem;
    height: 30rem;
    position: relative;
    @include responsive(sm) {
      margin: 0 auto;
    }
    @include responsive(xsm) {
      width: 20rem;
      height: 20rem;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    &__small1 {
      position: absolute;
      top: -3rem;
      left: -3rem;
      width: 15rem;
      height: 15rem;
      @include responsive(xsm) {
        width: 10rem;
        height: 10rem;
      }
      &:hover {
        top: 0;
        left: 0;
        width: 30rem;
        height: 30rem;
        transition: all 0.5s ease-in-out;

        @include responsive(xsm) {
          width: 20rem;
          height: 20rem;
        }
      }
      &:hover &__img {
        border: none;
      }
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        border: 0.7rem solid $green-50;
      }
    }
  }
  &__info {
    margin-top: 1.5rem;
    &__div {
      // margin-top: 2rem;
    }
    &__message {
      font-size: 1.5rem;
      line-height: 2.8rem;
    }
    &__contact {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
      border-bottom: 0.1rem dashed $gray-300;
      padding-bottom: 0.5rem;
      &__left {
        text-transform: capitalize;
        font-size: 1.4rem;
        color: $gray-700;
        font-weight: 500;
      }
      &__right {
        text-transform: capitalize;
        font-size: 1.4rem;
        color: $gray-700;
      }
      &__socials {
        display: flex;
        margin-top: 2rem;
        &__circle {
          width: 3.5rem;
          height: 3.5rem;
          background: $green-400;
          @include flexBox(center, center);
          border-radius: 50%;
          text-decoration: none;
          color: $white;
          margin-left: 1rem;
          // box-shadow: 0rem 1rem 1.5rem rgb(0, 0, 0, 0.1);
          &:first-child {
            margin-left: 0;
          }
          i {
            font-size: 1.6rem;
          }
          // &--twitter {
          //   background: $twitter;
          // }
          // &--facebook {
          //   background: $facebook;
          // }
          // &--linkedin {
          //   background: $linkedin;
          // }
          // &--github {
          //   background: $github;
          // }
        }
      }
    }
  }
}
